/* Layout*/
:root {
  --bg-color: #1a3a8a;
  --btn-bg: #e0e0e0;
  --btn-active-bg: #ffffff;
  --line-color: #000000;
  --glow-color: rgba(255, 255, 255, 0.8);
  --text-color: #333333;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.node-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /*เพิ่ม transition ปุ่มมาพร้อมเส้น */
}

.title-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #b89766;
  font-weight: bold;
  z-index: 5;
  text-align: center;
}

.node-btn {
  position: absolute;
  width: 70px;
  height: 75px;
  background-color: var(--btn-bg);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /*ปรับ Transition เพิ่ม opacity ปุ่มค่อยๆ ปรากฏขึ้น*/
  opacity: 0; /* ซ่อนก่อน Active */
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  z-index: 10;
  transform: translate(-50%, -50%) scale(0.8); 
  overflow: hidden;
}

/*เมื่อ container มี class active จากการ scroll ปุ่มขึ้น */
.node-container.active .node-btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.node-btn:hover {
  background-color: var(--btn-active-bg);
  transform: translate(-50%, -50%) scale(1.1);
  filter: drop-shadow(0 0 10px var(--glow-color)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.4));
}

.node-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.svg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/*ลากเส้น*/
.connector-line {
  fill: none;
  stroke: var(--line-color);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  /*เส้นทึบซ่อน*/
  stroke-dasharray: 1500; /*ครอบคลุมความยาวเส้นทั้งหมด*/
  stroke-dashoffset: 1500; /*ดันเส้นให้มองไม่เห็น */
  animation: none;
  /*ใช้ transition ให้เส้นค่อยๆลากมา*/
  transition: stroke-dashoffset 2s ease-in-out;
}

/*สไลด์ลงมาถึง container มี class active เส้นลากจากซ้ายไปขวา */
.node-container.active .connector-line {
  stroke-dashoffset: 0;
}